src/main/resources/wsdl/hello.wsdl

<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://example.com/soap-web-service"
        targetNamespace="http://example.com/soap-web-service">
    <types>
        <xsd:schema targetNamespace="http://example.com/soap-web-service">
            <xsd:element name="GetHelloRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetHelloResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="greeting" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="WriteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="value" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="WriteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="GetHelloRequest">
        <part name="parameters" element="tns:GetHelloRequest"/>
    </message>
    <message name="GetHelloResponse">
        <part name="parameters" element="tns:GetHelloResponse"/>
    </message>
    <message name="WriteRequest">
        <part name="parameters" element="tns:WriteRequest"/>
    </message>
    <message name="WriteResponse">
        <part name="parameters" element="tns:WriteResponse"/>
    </message>
    <portType name="HelloPortType">
        <operation name="getHello">
            <input message="tns:GetHelloRequest"/>
            <output message="tns:GetHelloResponse"/>
        </operation>
        <operation name="write">
            <input message="tns:WriteRequest"/>
            <output message="tns:WriteResponse"/>
        </operation>
    </portType>
    <binding name="HelloBinding" type="tns:HelloPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHello">
            <soap:operation soapAction="http://example.com/soap-web-service/getHello"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="write">
            <soap:operation soapAction="http://example.com/soap-web-service/write"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://localhost:8080/ws"/>
        </port>
    </service>
</definitions>